{
    "extends": "airbnb/legacy",
    "rules": {
        "space-before-function-paren": 1,
        "comma-dangle": 0,
        "spaced-comment": 0,
        "func-names": 0,
        "new-cap": 0,
        "no-console": 0,
        "no-param-reassign": [2, {"props": false}]
    }
}
